
@{
    ViewBag.Title = "Solution";
}
<!--banner-->
<div id="banner" class="banner">
    <div class="title">
        <h2 class="text-right">智慧城市解决方案</h2>
        <h2>让科技改变生活</h2>
    </div>
</div>
<!--end banner-->
<div class="main-cont">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 left-menu">
                <h4>解决方案</h4>
                <ul class="ul-menu nav">
                    <li><a href="/Solution/Xiaoyuan">智慧校园</a></li>
                    <li><a href="/Solution/Jiaotong">智慧交通</a></li>
                    <li class="active"><a href="/Solution/Anfang">智慧安防</a></li>
                    <li><a href="/Solution/Wuye">智慧物业</a></li>
                </ul>
            </div>
            <div class="col-md-10 col-sm-12">
                <div class="right-cont">
                    <div class="banner-sub">
                        <h4>智慧安防解决方案</h4>
                        <h5>
                            构建以情报基础资源平台为核心，以视频资源整合、数据资源整合、物联网资源三大基础，满足公安实战业务应用需求。
                        </h5>
                    </div>
                    <div class="cont-box">
                        <p>
                            为提升城市管理水平和群众安全感的现实需要，也是创新完善社会治安防控体系规划的重要内容。中共中央办公厅、国务院办公厅出台了《社会公共安全治安防控体系指导意见》十八大和十八届三中、四中全会明确提出完善与推进国家治理体系和治理能力现代化、完善立体化社会治安防控体系、提升平安中国规划能力和水平。
                        </p>
                        <p>
                            结合当前警务变革导向，提出了大数据情报主导情指勤一体合成作战体系。
                        </p>
                         <p>
                             一是建立现代警务运行机制，提升有效打击犯罪的能力。通过改革，建立以情报信息为主导、动态勤务为依托、警务合作为支撑、专业规范为特征的现代警务运行机制，使警务部署更具科学性、巡逻防控更具针对性、侦查破案更具精确性、警务合作更具实效性。
                         </p>
                        <p>
                            二是创新立体化社会治安防控体系，提升有效控制犯罪的能力。通过改革，健全点线面结合、网上网下结合、人防物防技防结合、打防管控结合的立体化社会治安防控体系
                        </p>
                        <img src="~/Content/Images/20170627224643.jpg" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

