
@{
    ViewBag.Title = "Solution";
}
<!--banner-->
<div id="banner" class="banner">
    <div class="title">
        <h2 class="text-right">智慧城市解决方案</h2>
        <h2>让科技改变生活</h2>
    </div>
</div>
<!--end banner-->
<div class="main-cont">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 left-menu">
                <h4>解决方案</h4>
                <ul class="ul-menu nav">
                    <li><a href="/Solution/Xiaoyuan">智慧校园</a></li>
                    <li><a href="/Solution/Jiaotong">智慧交通</a></li>
                    <li><a href="/Solution/Anfang">智慧安防</a></li>
                    <li class="active"><a href="/Solution/Wuye">智慧物业</a></li>
                </ul>
            </div>
            <div class="col-md-10 col-sm-12">
                <div class="right-cont">
                    <div class="banner-sub">
                        <h4>智慧物业解决方案</h4>
                        <h5>
                            更低的任务等待时间，更高效的运送时间管理,按照距离、设备、个人能力、紧急程度合理分配员工
                        </h5>
                    </div>
                    <div class="cont-box">
                        <p>
                            更低的任务等待时间，提供更专业的服务 – 可以为医院提高患者满意率
                            提供更高的患者周转率 – 可以为医院提高营业收入
                            更高效的运送时间管理 - 提高效率
                            可以合理分配人员在各个科室 – 使生产力达到最大化
                            按照距离、设备、个人能力、紧急程度合理分配员工
                            为员工提供运送、服务、设备使用、术语等技术和安全的培训
                            通过配备各区域及部门的固定人员达到最优的人员与服务匹配
                        </p>
                        <p>
                            可以记录运送人员位置，以方便针对性地分析、制定运送人员数量、排班、地区分配等问题
                            简化调度人员工作，通过统一录入的界面可以录入调度任务、监控人员情况
                            通过移动终端进行任务分配，可以让运送人员实时得知当前任务状况以及延时情况
                            汇总的数据，可以提供各类运送数据原型，以提供给医院更有说服力的数据
                        </p>
                        <img src="~/Content/Images/CD_08.png" class="img-responsive"/>
                        <img src="~/Content/Images/CD_06.png" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

