
@{
    ViewBag.Title = "Solution";
}
<!--banner-->
<div id="banner" class="banner">
    <div class="title">
        <h2 class="text-right">智慧城市解决方案</h2>
        <h2>让科技改变生活</h2>
    </div>
</div>
<!--end banner-->
<div class="main-cont">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 left-menu">
                <h4>解决方案</h4>
                <ul class="ul-menu nav">
                    <li class="active"><a href="/Solution/Xiaoyuan">智慧校园</a></li>
                    <li><a href="/Solution/Jiaotong">智慧交通</a></li>
                    <li><a href="/Solution/Anfang">智慧安防</a></li>
                    <li><a href="/Solution/Wuye">智慧物业</a></li>
                </ul>
            </div>
            <div class="col-md-10 col-sm-12">
                <div class="right-cont">
                    <div class="banner-sub">
                        <h4>智慧校园解决方案</h4>
                        <h5>
                            智慧校园
                            是以物联网为基础的智慧化的校园工作、学习和生活一体化环境，这个一体化环境以各种应用服务系统为载体，将教学、科研、管理和校园生活进行充分融合。
                        </h5>
                    </div>
                    <div class="cont-box">
                        <img src="~/Content/Images/201704231413202311.jpg" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

