@{
    ViewBag.Title = "Home Page";
}
@*<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@ 
<style type="text/css">
    .border_bottom {
     border-bottom:2px solid #23A1F6;
     padding-bottom:10px;
    }
    .body-content
    {
       margin-top:20px;
    }
    .company-tags {
    margin-top:40px;
    }

</style>
<div class="body-content mt" style="height:1000px">
    <div class="container">
        <h2 class="text-center"><span class="border_bottom">智慧城市系统</span></h2>
        <div class="company-tags">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div align="center">
                  <img src="~/Content/Images/sj01.png"  class="img-responsive"/>
                </div>
                <div class="tag-content">
                    <h4 class="text-center">集成全面系统</h4>
                    <p>智慧城市平台多系统研发，满足城市智能化需求，全面的系统包括智慧园区、智慧交通、智慧物业后勤、智慧园区、智慧生活</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div align="center">
                    <img src="~/Content/Images/sj02.png" class="img-responsive" />
                </div>
               <div class="tag-content">
                   <h4 class="text-center">改善生活体验</h4>
                   <p>基于城市网络,全方位多维度优化吃、穿、住、行场景体验，结合智能终端，打造物联网生态高品质生活</p>
               </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div align="center">
                    <img src="~/Content/Images/sj03.png" class="img-responsive" />
                </div>
                <div class="tag-content">
                    <h4 class="text-center">数据集市平台</h4>
                    <p>对接政府数据、相关平台接口,适应各行业需求，包括
                 民生、环保、公共安全、城市服务、工商业活动</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div align="center">
                    <img src="~/Content/Images/sj04.png" class="img-responsive" />
                </div>
                <div class="tag-content">
                    <h4 class="text-center">智能式管理</h4>
                    <p>利用先进的信息技术，实现城市 智慧式管理和运行，进而为城市中的人创造更美好的生活，促进城市的和谐、 可持续成长</p>
                </div>
            </div>
         </div>
       </div>
    </div>
</div>



