@{
    ViewBag.Title = "Home Page";
}
@*<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@ 
<style type="text/css">
    .border_bottom {
     border-bottom:2px solid #23A1F6;
     padding-bottom:10px;
    }
</style>
<div class="body-content" style="height:1000px">
    <div class="container">
        <h2 class="text-center"><span class="border_bottom">智慧城市系统</span></h2>
        <div class="company-tags">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <span class="glyphicon glyphicon-check"></span>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <span class="glyphicon glyphicon-wrench"></span>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <span class="glyphicon glyphicon-earphone"></span>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <span	class="glyphicon glyphicon-plane"></span>
            </div>
         </div>
       </div>
    </div>
</div>



